@page
@model StreamingDienst.Pages.AdminAnsicht.GutschriftModel

@{
    ViewData["Title"] = "Gutschrift";
}

<h1>Gutschrift</h1>

<hr />
<br />
<br />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Vorname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Vorname)
        </dd>
        <dt class="col-sm-2">
            Aktuelles Guthaben
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Guthaben)€
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.ID" />
            <input type="hidden" asp-for="User.Name" />
            <input type="hidden" asp-for="User.Vorname" />
            <input type="hidden" asp-for="User.EMail" />
            <input type="hidden" asp-for="User.IBAN" />
            <input type="hidden" asp-for="User.BIC" />
            <input type="hidden" asp-for="User.Bank" />
            <input type="hidden" asp-for="User.Geburtsdatum" />
            <input type="hidden" asp-for="User.Benutzername" />
            <input type="hidden" asp-for="User.Gesperrt" />
            <input type="hidden" asp-for="User.Hash" />
            <input type="hidden" asp-for="User.Salt" />
            <div class="form-group">
                @ViewData["error"]
                <br />
                @ViewData["bsp"]
                <br />
                <br />
                <label class="control-label, font-weight-bold">Gutschrift über</label>
                <input type="text" name="GuthabenText" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Guthaben hinzufügen" class="btn btn-primary" /> | <a asp-page="../BenutzerListe" asp-route-AdminID="@Model.Admin.ID">Zurück</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}